<!-- templates/app.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to NDM Gen-AI - App</title>
</head>
<body>
    <h1>Welcome to NDM Gen-AI! 👋 (App)</h1>
    <a href="/">Home</a> <!-- Link to the Home page (current page) -->
    <a href="/app">App</a>   <!-- Link to the App page -->
    <a href="/ndm_agents">NDM Agents</a> <!-- Link to the NDM Agents page -->
    <p>
        Streamlit is an open-source app framework built specifically for
        Machine Learning and Data Science projects.
    </p>
    <p>
        👈 Select a demo from the sidebar to see some examples
        of what Streamlit can do!
    </p>
    <h3>Want to learn more?</h3>
    <ul>
        <li>
            <a href="https://streamlit.io" target="_blank">Check out streamlit.io</a>
        </li>
        <li>
            <a href="https://docs.streamlit.io" target="_blank">Jump into our documentation</a>
        </li>
        <li>
            <a href="https://discuss.streamlit.io" target="_blank">Ask a question in our community forums</a>
        </li>
    </ul>
    <h3>See more complex demos</h3>
    <ul>
        <li>
            <a href="https://github.com/streamlit/demo-self-driving" target="_blank">
                Use a neural net to analyze the Udacity Self-driving Car Image Dataset
            </a>
        </li>
        <li>
            <a href="https://github.com/streamlit/demo-uber-nyc-pickups" target="_blank">
                Explore a New York City rideshare dataset
            </a>
        </li>
    </ul>
</body>
</html>
